[debug]
address = "0.0.0.0"
port = 8000
workers = 2
log = "normal"
limits = { forms = 32768 }
gpio_enabled = true

[local]
address = "0.0.0.0"
port = 8081
workers = 2
log = "normal"
limits = { forms = 32768 }
gpio_enabled = false
jwk_url = "http://syn01.lan:8080/realms/garage/protocol/openid-connect/certs"

[release]
address = "0.0.0.0"
port = 80
workers = 2
log = "critical"
limits = { forms = 32768 }
gpio_enabled = true
jwk_url = "https://dub.cstupi.com/realms/garage/protocol/openid-connect/certs"